<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 11:57:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@457e2f02]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 11:57:47</td>   <td>7274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuite.verifyDepartingFromValueSelection()[pri:1, instance:com.mercury.test.FlightFinderRegressionSuite@457e2f02]">verifyDepartingFromValueSelection</td> 
  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 11:58:08</td>   <td>28104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@457e2f02]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1967892594</td>   <td></td> </tr>
</table>
