<h2>Methods that were not run</h2><table>
<tr><td>com.mercury.test.FlightFinderRegressionSuite.verifyDefaultSelectionFlightType<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_001: Verifying default selection of flight type.</i></td></tr>
</table>