<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 11:59:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@457e2f02]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 11:59:39</td>   <td>7866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyValidLogin()[pri:0, instance:com.mercury.test.LoginRegressionSuite@457e2f02]">verifyValidLogin</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 11:59:56</td>   <td>24141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.LoginRegressionSuite@457e2f02]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 11:59:56</td>   <td>24796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@457e2f02]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 12:00:03</td>   <td>31003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyInvalidLogin()[pri:1, instance:com.mercury.test.LoginRegressionSuite@457e2f02]">verifyInvalidLogin</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 12:00:10</td>   <td>38724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.LoginRegressionSuite@457e2f02]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 12:00:11</td>   <td>39547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@3ffc5af1]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 12:00:17</td>   <td>45675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuite.verifyDefaultSelectionFlightType()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@3ffc5af1]">verifyDefaultSelectionFlightType</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 12:00:29</td>   <td>57013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@3ffc5af1]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 12:00:29</td>   <td>57643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@3ffc5af1]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 12:00:37</td>   <td>65677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuite.verifyDepartingFromValueSelection()[pri:1, instance:com.mercury.test.FlightFinderRegressionSuite@3ffc5af1]">verifyDepartingFromValueSelection</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 12:00:57</td>   <td>84969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@3ffc5af1]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
</table>
